body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table.Transaction {

  border-collapse: collapse;
}

div.Transaction {
  height: 510px;
  overflow-y: auto;
  border: 1px solid #819EBC;
}
table.Transaction .HeaderRow td:first-child
{
  text-align: center;
  background-color: #ABC5E8;
  background-image: none;
  color: white;
}
table.Transaction .HeaderRow td {
  margin: 0;
  padding: 1px 5px 1px 5px;
  background-image: linear-gradient(#F9FCFD, #D3DBE9);
  font-size: 11pt;
  border-right: 1px solid #B1C2D7;
  border-bottom: 1px solid #B1C2D7;
  
}

table.Transaction .DataRow td {
  margin: 0;
  padding: 1px 4px 1px 4px;
  border: #D0D7E5 1px solid;
}

table.Transaction input {
  margin: 0;
  padding: 0;
  border: none;
  height: 22px;
  outline: none;
}

table.Transaction select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  appearance: inherit;
   /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

table.Transaction .ColumnCell {
  width: 28px;
  background-color: #E4ECF7;
}


table.main td {
  text-align: left;
}

table.main select {
  width: 130px;
  height: 25px;
}

input.calculate {
  height: 50px;
  width: 150px;
  font-weight: bold;
  margin-top: 10px;
}


table.ShareBlocks {
  border-top: 2px solid cadetblue;
  border-bottom: 2px solid cadetblue;
  border-collapse: collapse;
}

table.ShareBlocks tr.firstHeaerRow td {
  font-weight: 600;
  text-align: center;
  vertical-align: top;
}
table.ShareBlocks tr.firstHeaerRow td:first-child {
  border-bottom: 1px solid gray;
}
table.ShareBlocks tr.firstHeaerRow td:nth-child(2) {
  border-bottom: 1px solid gray;
}
table.ShareBlocks tr.firstHeaerRow td:nth-child(5) {
  border-bottom: 1px solid gray;
}
table.ShareBlocks tr.firstHeaerRow td.bottomBorder {
  border-bottom: 1px solid gray;
}
table.ShareBlocks tr.secondHeaerRow td {
  border-bottom: 1px solid gray;
  font-weight: 600;
}

table.ShareBlocks tr.totalRow td {
  border-top: 1px solid gray;
  font-weight: 700;
}

table.ShareBlocks td.columnLastCell {
  border-right: 1px solid gray;
}

.outputContainer div:not(:first-child) {
  page-break-before: always;
}
.outputShareBlock tr:first-child td {
  text-align: left;
}
.outputShareBlock tr:nth-child(2) td {
  text-align: left;
}

.leftAlignCell {
  text-align: left;
}

.rightAlignCell {
  text-align: right;
}

table.ShareBlocks td {
  padding: 5px 10px 5px 10px;

}

table.summary {
  border-top: 2px solid cadetblue;
  border-bottom: 2px solid cadetblue;
  border-collapse: collapse;
}
table.summary tr:nth-child(2) td {
  text-align: right;
}

table.summary tr:first-child td {
  border-bottom: 1px solid gray;
  font-weight: 600;
  padding: 2px 10px 2px 10px;
}

table.summary tr td:not(:last-child) {
  border-right: 1px solid gray;
}

.summaryTitle {
  padding-top: 40px;
  font-weight: bolder;
  text-align: left;
}
.separator
{
  width:800px;
  height:2px;
background-color: gray;
margin: auto;
text-align: center;
}


hr
{
  width: 1400px;
}

@media print {
               hr,h1,input{
                  visibility: hidden;
               }
               
            }

.license
{
  text-align: left;
}